[Unit]
Description=Run the p110mon service.

[Service]
Type=simple
User=jan
Group=jan
ExecStart=/opt/p100/venv/bin/python /opt/p100/bin/p110mon --file /etc/p100/p110mon.config

[Install]
WantedBy=multi-user.target
